#slider-sections
	width: 100%
	overflow: hidden
	margin-top: 4.5rem
	
	>.container
		transition: .5s ease-out 0s
		width: calc(100% *  5)
		display: flex

		.slider
			width: 20%
			height: 70vh
			min-height: 600px
			background-size: cover
			background-position: center

			.transparent
				width: 100%
				height: 100%
				background-image: linear-gradient(to top, $BLACK, rgba(34, 34, 34, .4))

				display: flex
				align-items: center
				justify-content: center

				.content
					align-items: center
					justify-content: space-between

					.info
						width: 45%
						font-family: 'Mukta'

						.rate-year
							color: $GRAY
							font-family: 'Mukta Bold'
							margin-bottom: 1rem

							>span
								margin-right: 2.5rem

								span
									margin-right: .5rem

						.lore
							h1
								color: $WHITE
								font-family: 'Mukta ExtraBold'
								font-size: 3rem
								line-height: 3.1rem
								margin-bottom: 2rem
							p
								color: $GRAY
								margin-bottom: 4rem
						
						.button-watch
							font-family: 'Mukta ExtraBold'
							text-align: center
							width: 15rem
							overflow: hidden
							border-radius: 5px

							&:hover .buttons-watch
								margin-left: -100%

							.buttons-watch
								width: calc( 100% * 2 )
								display: flex
								align-items: center
								justify-content: center
								transition: .4s ease 0s

								>span, >a
									color: $WHITE
									cursor: pointer
									width: 50%
									padding: .6rem 0
									border: none

								>span
									color: $WHITE
									background-color: $PURPLE

									span
										font-size: 1rem
										margin-right: .5rem
								
								>a
									color: $BLACK
									background-color: $WHITE


					.slider-buttons
						display: flex
						align-items: center
						justify-content: space-between

						color: $WHITE
						background-color: $GREEN
						border-radius: 5px

						height: 3.5rem
						padding: 0 1rem

						span
							cursor: pointer

						.line
							width: 2px
							height: 70%
							background-color: rgba(0, 0, 0, .3)
							margin: 0 1rem
							box-shadow: 0 0 .6rem .1rem rgba(0, 0, 0, .2)
