@import modules/_variables.sass

*
	margin: 0
	padding: 0
	box-sizing: border-box

.container
	width: 100%
	display: flex
	align-items: center
	justify-content: center

.content
	width: $WIDTH
	max-width: $MAX_WIDTH
	display: flex

a
	display: inline-block
	text-decoration: none

h1,h2,h3,h4,h5,h6
	font-weight: normal
	text-decoration: none
	font-size: 1rem

body
	background-color: $BLACK

@import modules/_navbar.sass
@import modules/sliderSections.sass
@import modules/home/_movies.sass
@import modules/home/_series.sass